.container_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 8rem;

    .content_block {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        padding: 40px;
        max-width: 1200px;
        border-radius: 10px;
        background-color: white;

        & img {
            max-width: 300px;
            width: 100%;
        }
    }
}